body {
    font-family: MuseoSans300 !important;
    background: #2a2a2a;
    font-weight: bold;
    color: #ffffff !important;
}
a{
    color: #ffffff;
    text-decoration: none;
}
@font-face {
    font-family: 'MuseoSans300';
    font-style: normal;
    src: local('MuseoSans300'),
    url('../fonts/Museo/MuseoSans_300.ttf') format('trueType');
}
.glance-div{
    padding: 4px 2px 0 9%;
}
.frs-glnc-div{
    width: 95%;
    margin-left: 2%;
    background: #484747;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 3px;
}
.content-div{
    background: #3e3d3d;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 2%;
    padding: 2% 0 3% 9%;
}
.input{
    max-width: 117px;
    padding: 7px;
    border: 1px solid #2a97c4 !important;
    outline: none;
    border-radius: 4px;
}
.read-only-input{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #2a97c4 !important;
    outline: none;
}
.sticky-button{
    position: sticky;
    width: 33px;
    height: 31px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-size: contain;
}
.close-button{
    background: url("../images/general/up-arrow.png") no-repeat center ;
    border: none;
    background-size: 20px;
    margin-left: 16px;
}
.search-button{
    background: url("../images/general/magnifier.png") no-repeat center;
    border: 1px solid #2a97c4;
    background-size: 20px;
    margin-left: -17px;
}
.avatar{
    width: 36px;
    height: 36px;
    border: 1px solid #97faff;
    border-radius: 50%;
}
.title-component{
    margin: 1% 9% 4% 9%;
    color: #2a97c4;
    font-size: 18px;
    font-weight: 500;
}
.title-existence{
    margin: 1% 9% 4% 9%;
    color: #ffffff;
}
.single-contact{
    margin-left: 9%;
}
.mrg{
    margin-bottom: 15px;
}
.my-con-title{
    color: #97faff;
}
.back-button{
    border: 1px solid;
    margin: 0 2% 2% 2%;
    padding: 4px 10px;
    background: #2a97c4;
    color: white;
    border-radius: 3px;
}
@media screen and (min-width: 1000px) {
    .visited-div{
        background: #3e3d3d;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 2% 0;
        padding: 10px 0;
    }
}
@media screen and (min-width: 768px) {
    .margin-text{
        margin-top: 9px;
    }
    .visited-div{
        background: #3e3d3d;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 2%;
        padding: 10px 0;
    }
}
@media screen and (max-width: 768px) {
    .margin-text{
        margin-top: 9px;
    }
    .visited-div{
        background: #3e3d3d;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 2% ;
        padding: 10px 0;
    }
}